[submodule "themes/hugo-tufte"]
	path = themes/hugo-tufte
	url = https://github.com/loikein/hugo-tufte.git
[submodule "themes/tufte"]
	path = themes/tufte
	url = git@github.com:loikein/hugo-tufte.git
